<!DOCTYPE html>
<html lang="sp">
<head>
  <title>Gimnasio Paco</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Gimnasio Paco</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="#"> Rutinas</a></li>
      <li><a href="#">Clases</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#"><span class="glyphicon glyphicon-user"></span> Profile</a></li>
      <li><a href="#"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
    </ul>
  </div>
</nav>
<div class="container">
  <div class="page-header">
    <h1>Bienvenido Juan!</h1>
  </div>
  <div class="container">
    <h2>Rutinas Favoritas <button type="button" class="btn btn-default">Añadir Favoritas</button></h2>
    {{#isEmptyFavRoutine}}
    <p>No hay rutinas favoritas</p>
    {{/isEmptyFavRoutine}}
    <br>
    {{#routine}}
    <div class="panel panel-info">
      <div class="panel-heading">
        <h4>{{name}}</h4>
      </div>
      <div class="panel-body">
        {{description}}
        <button type="button" class="btn btn-success pull-right">Ver Rutina</button>
      </div>
    </div>
    {{/routine}}
  </div>
  <div class="container">
    <h2>Clases Apuntadas <button type="button" class="btn btn-default">Clases</button></h2>
    {{#isEmptyClass}}
    <p>No hay clases apuntadas</p>
    {{/isEmptyClass}}
    <br>
    {{#class}}
    <div class="panel panel-warning">
      <div class="panel-heading">
        <h4>{{name}}</h4>
      </div>
      <div class="panel-body">
        {{description}}
      </div>
    </div>
    {{/class}}
  </div>
</div>
</body>
</html>